@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


/* comment for a change */
.dashboard {
  position: fixed;
  top: 0px;
  left: 80px;
  margin-left: 40px;
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1000px 720px;
  grid-template-rows: 300px 600px;
  grid-template-areas: 
            "dashboard-container" "to-do-container"
            "dashboard-container" "to-do-container";
}

.dashboard-header {
  position: absolute;
  top: 20px;
  left: 100px;
  font-size: 0.75em;
  font-weight: bold;
  color: #333;
}

.line {
  width: 800px;
  height: 2px;
  background-color: #333;
  margin-top: 10px;
}
